# Data types
 
# Numbers

In [1]:
1+1

2

In [2]:
2-1

1

In [3]:
(2+1)-(1+1)

1

In [4]:
a=2
b=3
c=5

In [5]:
print(a+b+c)

10

In [6]:
print(b)

3

# Strings

In [7]:
"suman"

'suman'

In [8]:
'suman2'

'suman2'

In [10]:
"hello ' World"

"hello ' World"

# printing

In [12]:
age=22
company="Capgemini"
role="Analyst"

In [13]:
age

22

In [14]:
print(company)

Capgemini

In [15]:
print("my age is {} , i am working on {} company , and my job role is {}".format(age,company,role))

my age is 22 , i am working on Capgemini company , and my job role is Analyst


# List

In [17]:
[1,2,3]

[1, 2, 3]

In [18]:
[1,2,"hi",4]

[1, 2, 'hi', 4]

In [19]:
my_list = ["hi","hello","hola"]

In [20]:
my_list

['hi', 'hello', 'hola']

In [21]:
my_list[2]

'hola'

In [26]:
my_list.append ("namashte")

In [27]:
print(my_list)

['hi', 'hello', 'hola', 'namaste', 'namashte']

In [28]:
my_list.remove(my_list[3])

In [29]:
my_list

['hi', 'hello', 'hola', 'namashte']

# Dictionaries

In [31]:
my_dic={"name":"suman","laptop":"asus", "age": 22}

In [32]:
my_dic

{'name': 'suman', 'laptop': 'asus', 'age': 22}

In [35]:
my_dic["name"]

'suman'

In [41]:
my_dic["age"]=24

In [46]:
print(my_dic)

{'name': 'suman', 'laptop': 'asus', 'age': 24}

# Booleans

In [47]:
True

True

In [48]:
False

False

# Tuples

In [51]:
my_tup=("a","b","c","d")
print(my_tup)

('a', 'b', 'c', 'd')

In [54]:
my_tup[2:3]

('c',)

In [55]:
my_tup[3:4]

('d',)

In [61]:
my_tup[0:3]

('a', 'b', 'c')

# Sets

In [62]:
my_set={1,2,3,4,5,6}
print(my_set)

{1, 2, 3, 4, 5, 6}

In [67]:
my_set.add(7)
print(my_set)

{1, 2, 3, 4, 5, 6, 7}

In [70]:
print(len(my_set))

7

In [71]:
print(sum(my_set))

28

# If Else

In [72]:
a=25
if(a==25):
    print("a=25")
else:
    print("a is not 25")

a=25

# For Loop

In [ ]:
frist_list = [1,2,3,4,5,6,7]

In [ ]:
for item in  frist_list:
    print(frist_list)